<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bukhmastov.cardiograph">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.SplashActivity"
            android:theme="@style/SplashTheme"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.MainActivity" />
        <activity
            android:name=".activities.ConnectionActivity"
            android:parentActivityName=".activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bukhmastov.cardiograph.activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.ArchiveActivity"
            android:label="@string/archive"
            android:parentActivityName=".activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bukhmastov.cardiograph.activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.ReplayActivity"
            android:label="@string/replay"
            android:parentActivityName=".activities.ArchiveActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bukhmastov.cardiograph.activities.ArchiveActivity" />
        </activity>
        <activity
            android:name=".activities.DisclaimerActivity"
            android:parentActivityName=".activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bukhmastov.cardiograph.activities.MainActivity" />
        </activity>
        <activity android:name=".activities.AboutActivity" />
        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/settings"
            android:parentActivityName=".activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bukhmastov.cardiograph.activities.MainActivity" />
        </activity>
    </application>

</manifest>